body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body .body-background {
  background: #f2f2f2;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.body-background {
  background: #f2f2f2;
}

.button-no-green:active {
  background-color: #f2f2f2;
  text-decoration: none;
  outline: none;
  color: black;
}

.home-left {
  position: absolute;
  top: 60%;
  left: 23%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: #d9d9d9 1px solid;
  color: #d9d9d9;
  text-decoration: none;
}

p:hover {
  color: black;
}
a:hover {
  color: black;
  font-family: arial;
  text-decoration: none;
}

.home-right {
  position: absolute;
  top: 60%;
  left: 38%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: #d9d9d9 1px solid;
  color: #d9d9d9;
}

.btn-home {
  font-size: 1.5rem;
  color: #d9d9d9;
}

.form-container {
  min-height: 100vh;
  padding-top: 10rem;
}
